<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div id='main-bar'>
        <h1 id='name'>Jesus Cruz Electric Inc.</h1>
        <div id='nav-bar'>
            <a class='nav-links' href="/home">Home</a>
            <a class='nav-links' href="/gallery">Gallery</a>
            <a class='nav-links' href="/contact">Contact</a>
        </div>
    </div>
    <div id='gallery'>
        <img class='photos'
            src="https://www.thespruce.com/thmb/_QcH2joLe2N2Guyu6_557hn2cI4=/400x300/filters:no_upscale():max_bytes(150000):strip_icc()/switch-box-of-house-under-construction-173809577-5b076389119fa800377bc2af.jpg"
            alt="work">
        <img class='photos'
            src="https://www.thespruce.com/thmb/_QcH2joLe2N2Guyu6_557hn2cI4=/400x300/filters:no_upscale():max_bytes(150000):strip_icc()/switch-box-of-house-under-construction-173809577-5b076389119fa800377bc2af.jpg"
            alt="work">
        <img class='photos'
            src="https://www.thespruce.com/thmb/_QcH2joLe2N2Guyu6_557hn2cI4=/400x300/filters:no_upscale():max_bytes(150000):strip_icc()/switch-box-of-house-under-construction-173809577-5b076389119fa800377bc2af.jpg"
            alt="work">
        <img class='photos'
            src="https://www.thespruce.com/thmb/_QcH2joLe2N2Guyu6_557hn2cI4=/400x300/filters:no_upscale():max_bytes(150000):strip_icc()/switch-box-of-house-under-construction-173809577-5b076389119fa800377bc2af.jpg"
            alt="work">
        <img src="https://www.thespruce.com/thmb/_QcH2joLe2N2Guyu6_557hn2cI4=/400x300/filters:no_upscale():max_bytes(150000):strip_icc()/switch-box-of-house-under-construction-173809577-5b076389119fa800377bc2af.jpg"
            alt="work">
        <img class='photos'
            src="https://www.thespruce.com/thmb/_QcH2joLe2N2Guyu6_557hn2cI4=/400x300/filters:no_upscale():max_bytes(150000):strip_icc()/switch-box-of-house-under-construction-173809577-5b076389119fa800377bc2af.jpg"
            alt="work">
            <img class='photos'
            src="https://www.thespruce.com/thmb/_QcH2joLe2N2Guyu6_557hn2cI4=/400x300/filters:no_upscale():max_bytes(150000):strip_icc()/switch-box-of-house-under-construction-173809577-5b076389119fa800377bc2af.jpg"
            alt="work">
            <img class='photos'
            src="https://www.thespruce.com/thmb/_QcH2joLe2N2Guyu6_557hn2cI4=/400x300/filters:no_upscale():max_bytes(150000):strip_icc()/switch-box-of-house-under-construction-173809577-5b076389119fa800377bc2af.jpg"
            alt="work">
            <img class='photos'
            src="https://www.thespruce.com/thmb/_QcH2joLe2N2Guyu6_557hn2cI4=/400x300/filters:no_upscale():max_bytes(150000):strip_icc()/switch-box-of-house-under-construction-173809577-5b076389119fa800377bc2af.jpg"
            alt="work">
    </div>
</body>

</html>