<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <title>JC Home</title>
</head>
<body>
    
    <div id='main-bar'>
        <h1 id='name'>Jesus Cruz Electric Inc.</h1>
        <div id='nav-bar'>
            <a class='nav-links' href="/home">Home</a>
            <a class='nav-links' href="/gallery">Gallery</a>
            <a class='nav-links' href="/contact">Contact</a>
        </div>
    </div>
    <div id='about_section'>
        <img src="https://us.123rf.com/450wm/rogistok/rogistok1710/rogistok171000007/87717989-stock-vector-worker-electrician-light-bulb-flying-superhero-comic-book-cartoon-pop-art-retro-vector-illustration-.jpg?ver=6" alt="picture" id='electrician'>
        <div id='about'>
            <h2>About Us</h2>
            <p>A family owned company with 21 years of contractor experience, Jesus Cruz Electric Inc. is the company that will get the job done for you. Completing many residentail and commercail projects, we strive to always do an efficient and clean job. </p>
        </div>
    </div>
    <div>
    <div id='slogan'>
        <h1 id='slo-h1'>We Get The Job Done</h1>
    </div>
    <div>
        <div id='services'>
            <h2>Our Services:</h2>
            <ul>
                <li>Commercal</li>
                <li>Residential</li>
                <li>Emergency calls</li>
                <li>Generators</li>
                <li>Electrical Motors</li>
                <li>Service Electrical Panels</li>
                <li>Data and Communications Wireing</li>
            </ul>
        </div>
    </div>
    <img id='plug' src="https://media.istockphoto.com/vectors/electric-plug-icon-with-cord-stock-vector-vector-id1144423759?k=6&m=1144423759&s=612x612&w=0&h=Ip5yVOUglnQg5ARcn7lwpdhnMsT9szvQqp5Qh-ZMjk8=" alt="">
</body>
</html>