<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/thanks.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div id='main-bar'>
        <h1 id='name'>Jesus Cruz Electric Inc.</h1>
        <div id='nav-bar'>
            <a class='nav-links' href="/home">Home</a>
            <a class='nav-links' href="/gallery">Gallery</a>
            <a class='nav-links' href="/contact">Contact</a>
        </div>
    </div>
    <div id='thanks'>
    <h1>Thank you, We will reach out to you soon!!!</h1>
    </div>
</body>
</html>